<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT Prompt Generator</title>
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Submit Prompt</a></li>
        </ul>
    </nav>
    <main>
        <div class="header">
          <h1>GPT Prompt Engineering</h1>
          <p>
            Customise your GPT prompts to give them more context and get more accurate
            responses. This will increase the detail and quality of your output.
          </p>
        </div>


<!--<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">-->

    <div id="button-container" class="button-container"></div>


        <div class="input-container">
            <textarea id="prompt-input" placeholder="Write your prompt here."></textarea>
        </div>
        <div class="generate-button-container">
            <button id="generate-btn">Generate Prompt</button>
        </div>
        <div class="output">
          <h2>Output:</h2>
         <div class="output-inner">
          <div class="copy-prompt-badge">Copy Prompt</div>
          <p id="output-text" class="output-placeholder">&lt;Awaiting Prompt&gt;</p>
        </div>
        </div>
    </main>
    <script src="static/scripts.js"></script>
</body>
</html>
